/*body的z-index是0  注册和登录的z-index是5  遮盖层是4   注册和登录的遮盖层是6  警告消息是10*/
.clock{
	position: fixed;
	top: 60px;
	left:14px;
	width:130px;
	height:130px;
}
/*注册登录*/
.top{
	width: 100%;
	height: 40px;
	background-color:  #333333;
	margin-bottom: 10px;
}

.signRegister{
	width:1200px;
	margin-left: 80%;
	padding-top: 4px;
	/*display: block;*/
}

.signRegister a{
	color: #DDDDDD;
	line-height: 30px;
	font-size: 13px;
}

.signRegister a:hover,
.quit:hover{
	color: white;
	text-decoration: none;
}

.signRegister span{
	color:  #DDDDDD;
	line-height: 30px;
	font-size: 13px;
}

.welcome{
	height:40px;
	margin-left: 73%;
	/*display: none;*/
}
.welcome p{
	color: #DDDDDD;
	font-size: 13px;
	line-height: 40px;
}
.space{
	color: #DDDDDD;
	line-height: 40px;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: -3px;
}
.mine{
	width:23px;
	height:23px;
	vertical-align: middle;
	cursor: pointer;
	border-radius: 50%;
}
.quit{
	color: #DDDDDD;
	font-size: 13px;
	line-height: 40px;
}
.quit img{
	width:18px;
	height:18px;
	vertical-align: middle;
}

/*悬浮层*/
.middle-top-hidden{
	width:35%;
	height:120px;
	background-color: white;
	z-index: 5;
	box-shadow: 1px 2px 1px 1px #E5E5E5 ;
	display: none;
	position: absolute;
	top:150px;
}
.middle-top-hidden ul{
	display: block;
	padding-top: 28px;
	padding-left: 20px;

}
.middle-top-hidden ul li{
	margin-bottom: 5px;
}
.middle-top-hidden ul li img{
	display: inline-block;
	width:10px;
	height:10px;
	vertical-align: middle;
}
.middle-top-hidden ul li p{
	display: inline-block;
	font-size: 12px;
}
.middle-top-hidden b{
	position: absolute;
	top: 40px;
	left:200px;
	font-size: 16px;
}
.middle-top-hidden span{
	position: absolute;
	top: 40px;
	left:275px;
}
/*中间上部*/
.middle-content{
	width:1200px;
	/*height:18310px;*/
	margin: 0 auto;
}
.middle-top{
	width:1200px;
	height:150px;
	position: relative;
	margin-bottom: 10px;
	background-color: white;
}
.middle-top-left{
	display: block;
	width:35%;
	float: left;
	height:150px;
}
.middle-top-left-img{
	width: 30%;
	height:120px;
	margin-top:16px;
	margin-left: 20px;
	cursor: pointer;
}
.middle-top-left b{
	position: absolute;
	top: 40px;
	left:200px;
	font-size: 16px;
}
.middle-top-left span{
	position: absolute;
	top: 40px;
	left:275px;
}
.middle-top-right{
	float: right;
}
.middle-top-right-one{
	position: absolute;
	right:23%;
	top:40px;
}
.middle-top-right-two{
	position: absolute;
	right:17%;
	top:40px;
}
.middle-top-right-two h3,
.middle-top-right-two h3{
	position: absolute;
	top:42px;
}
.middle-top-right-h3{
	position: absolute;
	top:42px;
}
.middle-top-right p{
	font-size: 12px;
}
.middle-top-right-three{
	position: absolute;
	right:9%;
	top:40px;
}
.middle-top-right-p1{
	position: absolute;
	top: 48px;
	right: 11px;
}
.middle-top-right-p2{
	position: absolute;
	top: 48px;
	right: -12px;
}
.middle-top-right-p3{
	position: absolute;
	top: 0px;
	right: 80px;
}
.middle-top-right-h31{
	display: block;
	margin-top: 39.5px;
}
.middle-middle{
	width:100%;
	position: relative;
	/*height:18165px;*/
}
.middle-middle-top{
	width:82%;
	float: right;
	height:40px;
	background-color: white;
	margin-bottom: 10px;
}
.middle-middle-top ul{
	padding-left: 100px;
}
.middle-middle-top li{
    display: block;
    float: left;
    margin-right: 140px;
}
.middle-middle-top a{
    color: black;
    line-height:38px;
    font-size: 16px;
    display: block;
	text-decoration: none;
}
.middle-middle-top a:hover,
.active1{
	color: #FFA627;
	border-bottom: 2px solid #FFA627;
 }
.middle-middle-content {
	/*width: 1200px;*/
	background-color: #F5F5F5;
}
#menu1 li{
    width:80px;
    height:50px;
    text-align: center;
}
#menu1 a{
	line-height:50px;
    font-size: 16px;
    color: black;
	padding-bottom: 5px;
}
#menu1{
	position: fixed;
	top: 280px;
	left: 14%;
	background-color: white;
	border-radius: 20px;
	z-index: 0;
}
#menu1 a:hover,
.active2{
	text-decoration: none;
	color: #FFA627;
	font-size: 16px;
	line-height: 38px;
	border-bottom: 2px solid #FFA627;
}
/*菜品*/
.food-content{
	width:82%;
	float: right;
	background-color: #F5F5F5;
}
.item{
	background-color: white;
	padding-top: 20px;
	height: 563px;
	margin-bottom: 20px;
}
.item h3{
	padding-left: 64px;
	padding-bottom: 17px;
	border-bottom: 1px dashed #E5E5E5;
}
.item img{
	width:77%;
	height:155px;
	margin: 20px auto 0;
}
.item1-3,
.item1-6{
	border-right: none !important;
}
.item1-4,
.item1-5,
.item1-6{
	border-bottom: none !important;
}
.item1{
	width:26%;
	padding-left: 65px;
	height:260px;
	border-right: 1px dashed #E5E5E5;
	border-bottom: 1px dashed #E5E5E5;
	float: left;
	position: relative;
}
.item1:hover{
	background-color: #E5E5E5;;
}
.up-rate,
.sell-num{
	float: right;
	font-size: 12px !important;
	color: #A0A0A0;
	position: relative;
	right: 14px;
	bottom:20px;
}
.sell-num{
	right: 136px !important;
}
.add-num{
	width:auto;
	height:20px;
	padding:0 5px;
	position: absolute;
	right: 85px;
	bottom: 10px;
	cursor: pointer;
	background-color: #FFA627;
	-webkit-border-radius:10%;
	-moz-border-radius:10%;
	border-radius:10%;
	color: black;
	font-size: 12px;
	line-height:20px;
	text-align: center;
	display: none;
}
.add-img{
	/*z-index: 10;*/
	width:20px;
	height:20px;
	position: absolute;
	right: 59px;
	bottom: 10px;
	cursor: pointer;
	background-color: #FFA627;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	border-radius:50%;
	color: black;
	font-size: 20px;
	line-height:18px;
	text-align: center;
	display: inline-block;
}
.ball{
	z-index: -1;
	width:18px;
	height:18px;
	position: absolute;
	right: 59px;
	/*left: 649px;*/
	bottom: 10px;
	cursor: pointer;
	background-color: red;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	border-radius:50%;
	color: black;
	font-size: 20px;
	line-height:18px;
	text-align: center;
	display: inline-block;
}
.item1 .p1{
	margin-top: 5px;
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 5px;
}
.item1 .p2{
	font-size: 12px;
	color: #A0A0A0;
	margin-bottom: 5px;
	margin-left: 5px;
}
.p2-icon{
	float: left;
	font-size: 12px;
	color: #A0A0A0;
	margin-bottom: 5px;
	margin-left: 5px;
}
.item1 .p3,
.item1 .p3-icon{
	float: left;
	font-size: 16px;
	font-weight: bold;
	color: red;
}
#section-6{
	margin-bottom: 63px;
}

/*底部导航*/
.foot-nav{
	 width:522px;
	 position: fixed;
	 bottom: 0;
	 left: 62%;
	 border-color: #A0A0A0;
 }
.order-img{
	display: none;
}
.foot-nav-left p{
	color: white;
	font-size: 12px;
	position: absolute;
	top:29px;
	left: 60px;
	display: none;
}
.message{
	width:16px;
	height:16px;
	background-color: red;
	border-radius: 50%;
	text-align: center;
	line-height:16px;
	position: absolute;
	top:14px;
	left: 35px;
	color: white;
	font-size: 12px;
	display: none;

}
.foot-nav-left h3{
	color: white;
	font-size: 26px;
	position: absolute;
	top:15px;
	left: 75px;
	font-weight: normal;
	display: none;
}
.foot-nav-left{
	float: left;
	height:60px;
	width:50%;
	background-color: #333333;
}
.foot-nav-left img{
	margin-top: 19px;
	margin-left: 20px;
	cursor: pointer;
	width:25px;
	height:25px;
}

.foot-nav-right{
	text-align: center;
	float: left;
	width:30%;
	height:60px;
	background-color: #a0a0a0;
	cursor: auto;
}
.remain{
	margin-left: 27px;
}
.foot-nav-right p{
	font-size: 20px;
	line-height: 60px;
	color: white;
	float: left;
}
.topHover{
	width:417px;
	height:auto;
	background-color: white;
	position: absolute;
	bottom: 60px;
	display: none;
}
.hoverOne{
	height: 60px;
	background-color: #FAFAFA;
}
.hoverOne p{
	font-size: 20px;
	line-height: 60px;
}
.buyCar,
.foodName,
.pack{
	float: left;
	padding-left: 10px;
}
.clearFood,
.foodPrice,
.foodPrice-icon,
.packPrice,
.packPrice-icon{
	float: right;
	padding-right: 10px;
}
.clearFood{
	cursor: pointer;
}
.hoverTwo{
	height:65px;
	border-bottom: 1px solid #E5E5E5;
	position: relative;
}
.hoverTwo p,
.hoverThree p{
	font-size: 20px;
	line-height: 65px;
}
.rePrice{
	display: none;
}

.hoverThree{
	height:65px;
	border-bottom: 1px solid #E5E5E5;
}
.hoverFour{
	margin-left: 200px;
}
.hoverFour p{
	float: left;
	line-height: 80px;
}
.orderNum{
	color: red;
}
.totalPrice,
.moneyIcon{
	font-size: 25px;
	color: red;
	font-weight: bold;
}
.clearFood img{
	width: 15px;
	height:21px;
	vertical-align: middle;
	padding-bottom: 4px;
}
.add,
.reduce{
	width:15px;
	height:15px;
	color: black;
	text-align: center;
	line-height:14px;
	border: 1px solid #E5E5E5;
	display: inline-block;
	cursor: pointer;
}
.add{
	position: absolute;
	top:2px;
	left:-24px;
}
.reduce{
	position: absolute;
	top:2px;
	left:-80px;
}
.num {
	width:40px;
	height:15px;
	text-align: center;
	color: black;
	display: inline-block;
	border-left: none;
	border-right: none;
	border-top: 1px solid #E5E5E5;
	border-bottom: 1px solid #E5E5E5;
	position: absolute;
	top:2px;
	left:-64px;
	font-size: 12px;
}
.numSpan{
	position: absolute;
	top:23px;
	right:100px;
}

/*底部*/
.foot{
	width:100%;
	height:80px;
	background-color: #333333;
	text-align: center;
	position: absolute;
	top:0;
	/*display: none;*/
}
.foot img{
	position: absolute;
	top:50%;
	margin-top: -10px;
	left:50%;
	margin-left: -105px;
	width:20px;
	height:20px;
}
.foot p{
	line-height:80px;
	font-size: 12px;
	color: #A0A0A0;
}


/*加载页*/
.onLoad{
	width: 100%;
	height: 100%;
	background-color: white;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
}
.loading-content {
	width: 100px;
	height: 100px;
	position: absolute;
	left:0;
	top: 0;
	right: 0;
	bottom: 0;
	margin:auto;
}
.loading-content span{
	width: 80px;
	height: 80px;
	position: absolute;
	left: 10px;
	top: 10px;
	border-radius:50%;
	-webkit-box-shadow: 0 3px 0 deeppink;
	animation: circle 1s infinite linear;
}
.loading-content p{
	font-size: 30px;
	line-height: 100px;
	text-align: center;
}
@keyframes circle{
	from{transform: rotate(0deg);}
	to{transform: rotate(360deg);}
}


/*注册*/
.sign{
	width:400px;
	height:551px;
	background-color: white;
	border:1px solid #DDDDDD;
	position: fixed;
	top:40%;
	left:50%;
	margin-top: -200px;
	margin-left: -230px;
	padding:20px 20px;
	display: none;
	z-index: 5;
}
.sign-word,
.re-word{
	text-align: center;
	padding-bottom: 10px;
	width:100%;
	height:40px;
	font-size: 20px;
	font-weight: bold;
	color: black;
	border-bottom: 1px solid #a0a0a0;
	display: block;
}
.dismiss{
	width:20px;
	height:20px;
	display: block;
	position: absolute;
	right: 23px;
	top: 13px;
	font-size: 30px;
	font-weight: 100;
	cursor: pointer;
}
.sign form,
.register form,
.register1 form{
	padding-top:40px;
	width: 310px;
	margin: 0 auto;
}
.onLoad-head{
	width:100%;
	height:auto;
	padding:10px 10px 0 10px;
	position: relative;
}
.onLoad-head img{
	display: inline-block;
	width:100px;
	height:100px;
	border-radius: 50%;
	margin-left: 35%;
	border: 1px solid #E5E5E5;
}
.onLoad-head input{
	display: inline-block;
	width:100px;
	height:100px;
	border-radius: 50%;
	position: absolute;
	top:10px;
	left:35%;
	cursor: pointer;
	opacity: 0;
}



.sign label,
.register label,
.register1 label{
	font-size: 15px;
	margin-right: 10px;
	vertical-align: middle;
	display: inline-block;
}
.input1,
.input2,
.input3,
.input4,
.input5,
.input6,
.input7,
.identifyInput,
.identifyInput1{
	width:200px;
	height:30px;
	display:inline-block;
	margin-bottom: 40px;
	border-radius: 3px;
	border: 1px solid #DDDDDD;
	padding-left:3px;
}
.identifyInput,
.identifyInput1{
	width:112px;
	margin-right: 15px;

}
.input1,
.input4{
	margin-left: 15px;
}
.input2,
.input5{
	margin-left:30px;
}
.input7{
	margin-left:15px;
}
.submit1,
.submit2,
.submit3{
	width: 290px !important;
	height: 50px !important;
	cursor: pointer;
	font-size: 18px;
	font-weight: 200;
	letter-spacing: 5px;
	color: white;
	border:none !important;
	background-color: skyblue;
	padding-left: 0 !important;
	display:block ;
}
.input1::placeholder,
.input2::placeholder,
.input3::placeholder,
.input4::placeholder,
.input5::placeholder,
.input6::placeholder,
.input7::placeholder,
.identifyInput::placeholder,
.identifyInput1::placeholder{
	color: #a0a0a0;
	font-family:Verdana,Tahoma,Arial;
}

/*登录*/
.register1{
	width:400px;
	height:300px;
	background-color: white;
	border:1px solid #DDDDDD;
	position: fixed;
	top:50%;
	left:48%;
	margin-top: -12%;
	margin-left: -12%;
	padding:20px 20px;
	display: none;
	z-index: 5;
}
.register{
	height:375px;
	width:400px;
	background-color: white;
	border:1px solid #DDDDDD;
	position: absolute;
	padding:20px 20px;
	display: none;
	z-index: 5;
}

/*遮盖*/
.cover,
.cover1{
	position: fixed;
	top:0;
	left:0;
	height:100%;
	width:100%;
	background-color: #858585;
	opacity:0.5;
	display: none;
	z-index: 4;
	filter:brightness(0.3);
	-webkit-filter:brightness(0.3);
	-o-filter:brightness(0.3);
	-moz-filter:brightness(0.3);
}

/*警示*/
.sign-alert-1,
.sign-alert-2,
.sign-alert-3,
.reg-alert-1,
.reg-alert-2,
.reg-alert-3{
	width: 10px;
	height:30px;
	display: inline-block;
	font-size: 22px;
	line-height: 30px;
	color: red;
	margin-left: 10px;
	display: none;
}
.reg-alert-3{
	margin-right: 10px !important;
	margin-left:  0 !important;
}
.sign-alert-4{
	width: 10px;
	height:30px;
	display: inline-block;
	font-size: 22px;
	line-height: 30px;
	color: red;
	margin-left: 30px;
	display: none;
}
.coverSign{
	width:402px;
	height:553px;
	z-index: 6;
	display: none;
	position: fixed;
	top:40%;
	left:50%;
	margin-top: -200px;
	margin-left: -230px;
	padding:20px 20px;
	background-color: #858585;
	opacity:0.5;
	filter:brightness(0.3);
	-webkit-filter:brightness(0.3);
	-o-filter:brightness(0.3);
	-moz-filter:brightness(0.3);
}
.coverSign1{
	 position: fixed;
	left: 546.5px;
    top: 194px;
	 width:402px;
	 height:303px;
	 z-index: 6;
	 display: none;
	 padding:20px 20px;
	 background-color: #858585;
	 opacity:0.5;
	 filter:brightness(0.3);
	 -webkit-filter:brightness(0.3);
	 -o-filter:brightness(0.3);
	 -moz-filter:brightness(0.3);
	margin-top: 1px;
 }



/*登录和注册*/
.infoWarning{
	text-align: center;
	line-height:100px;
	width:255px;
	height:100px;
	background-color: white;
	border:1px solid #DDDDDD;
	color: #666666;
	-webkit-border-radius:15px;
	-moz-border-radius:15px;
	border-radius:15px;
	z-index:10;
	opacity: 0;
	position: fixed;
	top:94%;
	left:41%;
	display: none;
}
.also{
	color: red;
	margin-right: 5px;
}
.dismiss-info{
	width:20px;
	height:20px;
	font-size: 25px;
	color: red;
	cursor: pointer;
	display: block;
	position: absolute;
	top:-30px;
	right:10px;
}

.pswWarning{
	text-align: center;
	line-height:100px;
	width:255px;
	height:100px;
	background-color: white;
	border:1px solid #DDDDDD;
	color: #666666;
	-webkit-border-radius:15px;
	-moz-border-radius:15px;
	border-radius:15px;
	z-index:10;
	opacity: 0;
	position: fixed;
	top:94%;
	left:41%;
	display: none;
}
.infoWarning1{
	text-align: center;
	line-height:100px;
	width:240px;
	height:100px;
	background-color: white;
	border:1px solid #DDDDDD;
	color: #666666;
	-webkit-border-radius:15px;
	-moz-border-radius:15px;
	border-radius:15px;
	z-index:10;
	opacity: 0;
	position: fixed;
	top:78.1%;
	left:42.5%;
	display: none;
}
.signSuccess{
	text-align: center;
	line-height:100px;
	width:255px;
	height:100px;
	background-color: white;
	border:1px solid #DDDDDD;
	color: #666666;
	-webkit-border-radius:15px;
	-moz-border-radius:15px;
	border-radius:15px;
	z-index:10;
	opacity: 0;
	position: fixed;
	top:94%;
	left:41%;
	display: none;
}
.userInfo{
	text-align: center;
	line-height:100px;
	width:255px;
	height:100px;
	background-color: white;
	border:1px solid #DDDDDD;
	color: #666666;
	-webkit-border-radius:15px;
	-moz-border-radius:15px;
	border-radius:15px;
	z-index:10;
	opacity: 0;
	position: fixed;
	top:94%;
	left:41%;
	display: none;
}
.pswWarning1{
	text-align: center;
	line-height:100px;
	width:16%;
	height:100px;
	background-color: white;
	border:1px solid #DDDDDD;
	color: #666666;
	-webkit-border-radius:15px;
	-moz-border-radius:15px;
	border-radius:15px;
	z-index:10;
	opacity: 0;
	position: fixed;
	top:78.1%;
	left:42.5%;
	display: none;
}
.noUser{
	text-align: center;
	line-height:100px;
	width:16%;
	height:100px;
	background-color: white;
	border:1px solid #DDDDDD;
	color: #666666;
	-webkit-border-radius:15px;
	-moz-border-radius:15px;
	border-radius:15px;
	z-index:10;
	opacity: 0;
	position: fixed;
	top:78.1%;
	left:42.5%;
	display: none;
}

/*商家样式*/
/*内容*/
.buContent{
	width:980px;
	float: right;
	height:auto;
	background-color: white;
	display: none;
	padding-bottom: 100px;
}
.buContent p{
	font-size: 18px;
	display: inline-block;
	padding-left: 20px;
	padding-bottom: 30px;

}
.buContent img{
	width:150px;
	height:160px;
	display: inline-block;
	padding:30px 0 0 48px;
	vertical-align: text-bottom;
	margin-top: 93px;
}



/*休息*/
.rest{
	width:300px;
	height:100px;
	text-align: center;
	line-height: 100px;
	background-color: white;
	z-index: 20;
	border: 1px solid #E5E5E5;
	position: fixed;
	top:45%;
	left: 40%;
	display: none;
	border-radius: 10px;
}
.rest span{
	position: absolute;
	top:-30px;
	right:20px;
	font-size: 30px !important;
	color: red !important;
	cursor: pointer;
}